.evolve{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #fff;
    padding: 15px 7%;
}

.logo{
    width: 160px;
    cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    text-align: center;
    margin-right: 40px;


}


ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor:pointer;

}

.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.search-box{
    display:flex;
    align-items:centre;
    justify-self: center;
    background: black;
    padding: 0.4px 1px;
    border-radius: 20px;
    margin-right: 20px;
    
}

.search-box input{
    padding:6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}

.search-box input::placeholder{
    color:#fff;
}
.search-box img{
    width:30px;
}